@keyframes dropAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.8);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.text-container {
    border: 1px dashed #141414;
    width: 90%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    transition: all 350ms ease-out;
    cursor: pointer;
    flex-shrink: 0;
    animation: dropAnimation 350ms ease-in-out;
}

.text-container:hover {
    background-color: #141414;
    color: #eeeeee;
    transform: scale(1.035);
    border: 1px dashed #eeeeee;
}

.list-text {
    font-size: .85rem;
}

.text-container.completed {
    background-color: #a2dd5a;
    border: 1px solid #141414;
    text-decoration: line-through;
}